PORT=2111 #port to listen on
MAX_FILE_SIZE=5 #MB
DATABASE_URL="postgresql://postgres:root@localhost:5432/operafr?schema=public" #database url
JWT_SECRET="operafr" #jwt secret
CORS=["http://localhost"] #cors origin

#Validation rules for servers
VALID_ORIGIN_PUBLIC_URL=["*"] #valid ip to access public url of files. * for all
VALID_SENDER_IPS=["*"] #valid ip to send files. * for all