PORT=2111 #port to listen on
MAX_FILE_SIZE=10 #MB
JWT_SECRET="operafr" #jwt secret
CORS=["http://localhost"] #cors origin

# DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=operafr
POSTGRES_HOST=db
POSTGRES_HOST_PORT=5434
POSTGRES_PORT=5432
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public" #database url
# DATABASE_URL="postgresql://postgres:root@localhost:5432/operafr?schema=public" #database url

#Validation rules for servers
VALID_ORIGIN_PUBLIC_URL=["*"] #valid ip to access public url of files. * for all
VALID_SENDER_IPS=["*"] #valid ip to send files. * for all

#ZeroMQ configuration
ZMQ_REPLY_PORT=5555 #port for req-rep
ZMQ_PUSH_PORT=5556 #port to pull-push

#Current server ip
SERVER_IP="http://localhost:2111" #You can put a DNS/Domain here if you have one linked to the server

# USERS CREDENTIALS
SUPERUSER_EMAIL=email@gmail.com
SUPERUSER_USER=root
SUPERUSER_PASSWORD=root

# TOKEN DETAILS
TOKEN_DAYS_EXPIRATION=365
